## ignore these patterns in the root, but not subdirs
/*.pdf

## ignore these folders
figures/*
archive/*

## ignore files matching these patterns everywhere
*~
*_cache
*_files
*.log
*.html
*.md
*.URL
