# ignore these patterns in the root, but not subdirs
/*.pdf

# ignore these folders
figures/*
archive/*

# ignore these patterns from the root down
*~
*/*_cache
*/*_files
*/*.log
*/*.html
*/*.md
*/*.url