## ignore these patterns in the root, but not subdirs
/*.pdf
/*.html

## ignore these folders
figures/*
archive/*

## ignore files matching these patterns everywhere
*~
*_cache
*_files
*.log
*.md
*.URL
